/* 	Box model
	=========================== */
$vertical-margin: 75px;

/* Typography
	=========================== */
$primary-font: 'Lato', sans-serif;
$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-400: 400;

/*	Colors
	=========================== */
$white: #ffffff;
$black: #000000;
$black-light: #1E1E1E;
$black-lighter: #2E2E2E;
$color-accent: #8BC43B;